    <div id="page-wrapper">


      <!-- Banner -->
        <section id="banner">

          <div class="inner">

            <p>お店の情報を編集してください。</p>
            <footer>
              <ul class="buttons vertical">
                <%= form_for @shop, :url => {:action => 'update'} do |f| %>
                  <li>
                    <%= f.label :店名： %>
                    <%= f.text_field :name, placeholder: '', value: @shop.name %>
                  </li>
                  <li>
                    <%= f.label :お店の画像： %>
                    <%= f.file_field :image %>
                  </li>
                  <li>
                    <%= f.label :L字テーブル： %>
                    <%= select_tag 'shop[l]', options_for_select(["有", "無"],:selected => @shop.l)%>
                  </li>
                  <li>
                    <%= f.label :カウンター： %>
                    <%= select_tag 'shop[counter]', options_for_select(["有", "無"],:selected => @shop.counter) %>
                  </li>
                  <li>
                    <%= f.label :ジャンル： %>
                    <%= f.text_field :genre, placeholder: '', value: @shop.genre %>
                  </li>
                  <li>
                    <%= f.label :TEL： %>
                    <%= f.text_field :tel, placeholder: '', value: @shop.tel %>
                  </li>
                  <li>
                    <%= f.label :交通手段： %>
                    <%= f.text_field :transportation, placeholder: '', value: @shop.transportation %>
                  </li>
                  <li>
                    <%= f.label :住所： %>
                    <%= f.text_field :address, placeholder: '', value: @shop.address %>
                  </li>
                  <li>
                    <%= f.label :営業時間： %>
                    <%= f.text_field :bussiness_hours, placeholder: '', value: @shop.bussiness_hours %>
                  </li>
                  <li>
                    <%= f.label :定休日： %>
                    <%= f.text_field :regslar_holiday, placeholder: '', value: @shop.regslar_holiday %>
                  </li>
                  <li>
                    <%= f.label :カード： %>
                    <%= f.text_field :card, placeholder: '', value: @shop.card %>
                  </li>
                  <li>
                    <%= f.label :サービス料・チャージ料： %>
                    <%= f.text_field :service_charge, placeholder: '', value: @shop.service_charge %>
                  </li>
                  <li>
                    <input type="submit" value="編集する">
                  </li>
                <% end %>
              </ul>
            </footer>

          </div>

        </section>

      <!-- Footer -->
        <footer id="footer">

          <ul class="copyright">
            <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>

        </footer>

    </div>


    <!-- Scripts -->
      <script src="assets/jquery.min.js"></script>
      <script src="assets/jquery.dropotron.min.js"></script>
      <script src="assets/jquery.scrolly.min.js"></script>
      <script src="assets/jquery.scrollgress.min.js"></script>
      <script src="assets/skel.min.js"></script>
      <script src="assets/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/main.js"></script>
