    <div id="page-wrapper">


      <!-- Banner -->
        <section id="banner">

          <!-- Two -->
            <section class="wrapper style1 container special">
              <h3>お店検索結果<h3>

              <div class="row">
                <% @shops.each do |shop| %>
                  <div class="4u 12u(narrower)">
                    <section>
                      <%= image_tag(shop.image(:thumb)) %>
<!--                       <span class="icon featured fa-check"><%= shop.image_file_name %></span>
 -->                      <header>
                        <h3><a href="/shops/<%= shop.id %>"><%= shop.name %></a></h3>
                      </header>
                      <p>
                        <ul>
                        <li>
                          <% if shop.reviews.present? %>
<!--                             <span class="rating-star">
                              <i class="star-actived rate-<%= shop.reviews.average(:rate).round %>0"></i>
                            </span>

 -->                        評価：<%= shop.reviews.average(:rate).round %>/10
                          <% else %>
<!--                             <span class="rating-star">
                            <i class="star-actived rate-0"></i>
                            </span>
 -->                        評価：なし
                          <% end %> 
                       </li>
                        <li>
                          <a href="/shops/<%= shop.id %>">口コミ：<%= shop.reviews.count %>件</a>️
                        </li>
                        <li>
                          L字テーブル：<%= shop.l %>
                        </li>
                        </ul>
                      </p>
                    </section>
                  </div>
                <% end %>

              </div>
            </section>



          </div>

        </section>




      <!-- Footer -->
        <footer id="footer">

          <ul class="copyright">
            <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>

        </footer>

    </div>


    <!-- Scripts -->
      <script src="assets/jquery.min.js"></script>
      <script src="assets/jquery.dropotron.min.js"></script>
      <script src="assets/jquery.scrolly.min.js"></script>
      <script src="assets/jquery.scrollgress.min.js"></script>
      <script src="assets/skel.min.js"></script>
      <script src="assets/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/main.js"></script>
<!--       <script>
        $('#star').raty({
          size     : 36,
          starOff: '/assets/star-off.png',
          starOn : '/assets/star-on.png',
          // score: '#{ shop.reviews.average(:rate).round }0'
           readOnly: 'true'
          scoreName: 'test'
        });
      </script> -->