    <div id="page-wrapper">


      <!-- Banner -->
        <section id="banner">

          <div class="inner">

            <p>女性の情報を登録してください。</p>
            <footer>
              <ul class="buttons vertical">
                  <%= form_for @woman, :url => {:action => 'create'} do |f| %>
                  <li>
                    <%= f.label :名前： %>
                    <%= f.text_field :name, placeholder: '', value: '' %>
                  </li>
                  <li>
                    <%= f.label :年齢： %>
                    <%= f.text_field :age, placeholder: '', value: '' %>
                  </li>
                  <li>
                    <%= f.label :職業： %>
                    <%= f.text_field :job, placeholder: '', value: '' %>
                  </li>
                  <li>
                    <%= f.label :ランク： %>
                    <%= f.number_field :rank, placeholder: '', value: 1, max: 10, min: 1 %>
                  </li>
                  <li>
                    <%= f.label :特徴： %>
                    <%= f.text_area :character, placeholder: '', value: '' %>
                  </li>
                  <li>
                    <%= f.label :メモ： %>
                    <%= f.text_area :memo, placeholder: '', value: '' %>
                  </li>
                  <li>
                    <input type="submit" value="登録する">
                  </li>
                <% end %>
              </ul>
            </footer>

          </div>

        </section>

      <!-- Footer -->
        <footer id="footer">

          <ul class="copyright">
            <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>

        </footer>

    </div>


    <!-- Scripts -->
      <script src="assets/jquery.min.js"></script>
      <script src="assets/jquery.dropotron.min.js"></script>
      <script src="assets/jquery.scrolly.min.js"></script>
      <script src="assets/jquery.scrollgress.min.js"></script>
      <script src="assets/skel.min.js"></script>
      <script src="assets/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/main.js"></script>
