    <div id="page-wrapper">


      <!-- Banner -->
        <section id="banner">

          <div class="inner">

            <p>口コミを入力してください</p>
            <footer>
              <ul class="buttons vertical">
                  <li>
                    <section>
                      <span class="icon featured fa-check"></span>
                      <header>
                        <h3><%= @shop.name %></h3>
                      </header>
                      <p>
                        <ul>
                        <li>
                          総合評価：⭐️⭐️⭐️⭐️
                        </li>
                        </ul>
                      </p>
                    </section>
                    </li>
                      <%= form_for [@shop, @review] do |f| %>
                      <li>
                        <%= f.label :評価, style: { 'margin-right' => 8 } %>
                        <%= f.number_field :rate, placeholder: '評価', value: 1, max: 10, min: 1, html: { class: "search__query", style: 'text-align: right;' } %>
                      </li>
                      <li>
                        <%= f.text_area :review, placeholder: 'レビューを書いてね！', style: 'width: 100%;height: 300px;' %>
                      </li>
                      <li><input type="submit" value="投稿する"></li>
                    <% end %>
              </ul>
            </footer>

          </div>

        </section>

      <!-- Footer -->
        <footer id="footer">

          <ul class="copyright">
            <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>

        </footer>

    </div>


    <!-- Scripts -->
      <script src="assets/jquery.min.js"></script>
      <script src="assets/jquery.dropotron.min.js"></script>
      <script src="assets/jquery.scrolly.min.js"></script>
      <script src="assets/jquery.scrollgress.min.js"></script>
      <script src="assets/skel.min.js"></script>
      <script src="assets/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/main.js"></script>
