<!DOCTYPE html>
<html>
<head>
  <title>Goals</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Header -->
    


</head>
<body>
<header id="header" class="alt">
    <h1 id="logo"><%= link_to "GOAL's", '/shops' %>
     <nav id="nav">
      <ul>
        <li class="current"><a href="/reviews">口コミ投稿</a></li>
        <li class="current"><a href="/womans">女性プロフ登録</a></li>
        <li class="current"><a href="/womans/search">女性プロフ編集(一覧)</a></li>
        <li class="current"><a href="/shops/new">お店を登録</a></li>
        <li class="current"><a href="/shops/shops_edit_search">お店を編集</a></li>
      <% if user_signed_in? %>
        <li>
          <a href="/users/sign_out" class="button special">Sign Out</a>
        </li>
      <% else %>
        <li>
          <a href="/users/sign_up" class="button special">Sign Up</a>
        </li>
      <% end %>

      </ul>
    </nav>
</header>
<%= yield %>

</body>
</html>
